---
layout: default
bodyClass: home
description: "Home page"
---

<div class="homeBanner text-center">

  <h1>Gianluca Costa</h1>

  <div class="portrait gianPortrait"></div>

  <h2 class="motto">Elegance always matters! ^_^</h2>

  <div class="buttons">

    <div class="btn-group">
      <button type="button" class="btn btn-info btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About me <span class="caret"></span></button>

      {% include aboutMenu.html %}
    </div>


    <div class="btn-group">
      <button type="button" class="btn btn-info btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contacts <span class="caret"></span></button>

      {% include contactsMenu.html %}
    </div>
  </div>
</div>
</div>
