---
layout: default
bodyClass: home
description: "Home page"
---

<div class="homeBanner text-center">

  <h1>Gianluca Costa</h1>

  <div class="portrait gianPortrait"></div>

  <h2 class="motto">Elegance always matters! ^_^</h2>

  <div class="buttons">

    <div class="btn-group">
      <button type="button" class="btn btn-info btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About me <span class="caret"></span></button>

      {% include aboutMenu.html %}
    </div>


    <div class="btn-group">
      <button type="button" class="btn btn-info btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contacts <span class="caret"></span></button>

      {% include contactsMenu.html %}
    </div>
  </div>
</div>

<hr />

{% include paginator.html %}

<div class="posts">
  {% for post in paginator.posts %}
  <div class="panel panel-primary postEntry">
    <div class="panel-heading">
      <h3 class="panel-title">
        <time datetime="{{ post.date | date_to_xmlschema }}" class="by-line">{{ post.date | date: "%-d %B %Y" }}</time>
      </h3>
    </div>
    <div class="panel-body">
      <h3 class="postTitle">
        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title| escape }}</a>
      </h3>

      <p class="postPreview">
        {{ post.content | strip_html | truncatewords:50 }}
      </p>

      <div class="container-fluid">
        <div class="row">
          <a class="btn btn-info btn-sm col-xs-5 col-xs-offset-7 col-sm-2 col-sm-offset-10 col-lg-1 col-lg-offset-11 readPost" role="button" href="{{ post.url | prepend: site.baseurl }}">
            Read post <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}

  {% include paginator.html %}
</div>
