.article-page {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.1rem;

  .content {
    h2 {
      font-weight: bold;
      margin-top: 2.2rem;
      margin-bottom: 1rem;
    }

    h3,
    h4,
    h5,
    h6 {
      margin-top: 1.6rem;
      margin-bottom: 1rem;
    }

    p,
    li {
      margin-bottom: 1rem;
    }

    ul,
    ol,
    dl {
      margin-bottom: 2rem;
    }
  }
}
