.infrastructure-screen {
  padding: 15px;
  margin: 0px;
  font-family: "Courier New", courier;

  h1,
  h2 {
    font-family: "Lucida Grande", "Lucida", "Arial", sans-serif;
  }

  h1 {
    text-align: center;
    font-size: 36px;
  }

  a,
  a:visited {
    color: blue;
    text-decoration: none;
  }

  h2 {
    text-align: center;
    font-size: 28px;
  }

  .message {
    border: 1px solid black;
    padding: 20px;

    margin-left: 10px;
    margin-right: 20px;

    border-radius: 20px;

    box-shadow: 10px 10px 5px #ddd;

    background: #faffc0;
    background: linear-gradient(
      #ffc8bf,
      #ffe2bf,
      #fcffbf,
      #c0ffbf,
      #bff9ff,
      #bfcbff,
      #d1bfff
    );
  }
}
