<div class="dropdown-menu">
  <a class="dropdown-item" href="{{ site.data.links.linkedIn }}">
    <i class="fab fa-linkedin"></i>
    LinkedIn
  </a>

  <a class="dropdown-item" href="{{ site.data.links.twitter }}">
    <i class="fab fa-twitter"></i>
    Twitter
  </a>

  <div class="dropdown-divider"></div>

  <a class="dropdown-item" href="{{ site.baseurl }}{{ site.data.links.cvPath }}">
    <i class="fas fa-file-download"></i>
    Download CV
  </a>

  <div class="dropdown-divider"></div>

  <a class="dropdown-item" href="{{ site.data.links.email }}">
    <i class="fas fa-envelope"></i>
    E-mail
  </a>
</div>