<ul class="dropdown-menu">
  <li>
    <a href="{{ site.data.links.linkedin }}">LinkedIn</a>
  </li>

  <li>
    <a href="{{ site.data.links.twitter }}">Twitter</a>
  </li>

  <li role="separator" class="divider"></li>

  <li>
    <a href="{{ site.data.links.duolingo }}">Duolingo</a>
  </li>

  <li role="separator" class="divider"></li>

  <li>
    <a href="{{ site.data.links.youtube }}">YouTube</a>
  </li>

  <li role="separator" class="divider"></li>

  <li>
    <a href="mailto:{{ site.author.email }}"><span class="glyphicon glyphicon-envelope"></span> E-mail</a>
  </li>
</ul>
