<header class="siteHeader">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ site.baseurl }}/">Gianluca Costa's Creations</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-expanded="false" aria-label="Toggle navigation" aria-controls="navbarNavDropdown">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            About me
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{{ site.data.links.introduction }}">Introduction</a>
            <a class="dropdown-item" href="{{ site.data.links.downloadCV }}">Download CV</a>
            <a class="dropdown-item" href="{{ site.data.links.email }}">E-mail</a>
          </div>
        </li>


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Open source
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{{ site.data.links.gitHub }}">GitHub (60+ projects)</a>
          </div>
        </li>


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Knowledge sharing
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{{ site.data.links.slideShare }}">SlideShare</a>
            <a class="dropdown-item" href="{{ site.data.links.blog }}">Blog</a>
            <a class="dropdown-item" href="{{ site.data.links.farbigesDeutsch }}">Farbiges Deutsch</a>
            <a class="dropdown-item" href="{{ site.data.links.arcadia }}">Arcadia</a>
          </div>
        </li>


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Social
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{{ site.data.links.linkedIn }}">LinkedIn</a>
            <a class="dropdown-item" href="{{ site.data.links.xing }}">XING</a>
            <a class="dropdown-item" href="{{ site.data.links.twitter }}">Twitter</a>
            <a class="dropdown-item" href="{{ site.data.links.youTube }}">YouTube</a>
            <a class="dropdown-item" href="{{ site.data.links.duolingo }}">Duolingo</a>
          </div>
        </li>


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Highlights
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{{ site.data.links.twoBinPack }}">TwoBinPack</a>
            <a class="dropdown-item" href="{{ site.data.links.graphsJ }}">GraphsJ</a>
            <a class="dropdown-item" href="{{ site.data.links.chronos }}">Chronos</a>
            <a class="dropdown-item" href="{{ site.data.links.moonDeploy }}">MoonDeploy</a>
            <a class="dropdown-item" href="{{ site.data.links.historyMark }}">HistoryMark</a>
            <a class="dropdown-item" href="{{ site.data.links.knapScal }}">KnapScal</a>
            <a class="dropdown-item" href="{{ site.data.links.solvenius }}">Solvenius</a>
          </div>
        </li>


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Artifacts
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{{ site.data.links.hephaestus }}">Hephaestus (Gradle/Maven)</a>
            <a class="dropdown-item" href="{{ site.data.links.dockerHub }}">Docker Hub</a>
            <a class="dropdown-item" href="{{ site.data.links.googlePlay }}">Google Play (Android apps)</a>
          </div>
        </li>


        <li class="nav-item">
          <a class="nav-link" href="{{ site.data.links.timeline }}">Timeline</a>
        </li>


        <li class="nav-item">
          <a class="nav-link" href="{{ site.data.links.blogTags }}">Tags</a>
        </li>


        <li class="nav-item">
          <a class="nav-link" href="{{ site.data.links.newsFeed }}">News</a>
        </li>
      </ul>
    </div>
  </nav>
</header>