<footer>
	<div id="socialIcons">
		<a href="https://github.com/giancosta86" title="GitHub">
			<img src="{{site.baseurl}}socialIcons/github.png" alt="GitHub" />
		</a>


		<a href="https://twitter.com/giancosta86" title="Twitter">
			<img src="{{site.baseurl}}socialIcons/twitter.png" alt="Twitter" />
		</a>


		<a class="needsContrast" href="https://www.linkedin.com/in/giancosta86" title="LinkedIn">
			<img src="{{site.baseurl}}socialIcons/linkedin.png" alt="LinkedIn" />
		</a>


		<a href="https://www.youtube.com/user/giancosta86info" title="YouTube">
			<img src="{{site.baseurl}}socialIcons/youtube.png" alt="YouTube" />
		</a>


		<a class="needsContrast" href="https://bintray.com/giancosta86/Hephaestus" title="Hephaestus">
			<img src="{{site.baseurl}}socialIcons/hephaestus.png" alt="Hephaestus" />
		</a>


		<a class="needsContrast" href="https://www.slideshare.net/giancosta86/" title="SlideShare">
			<img src="{{site.baseurl}}socialIcons/slideshare.png" alt="SlideShare" />
		</a>


		<a href="{{site.baseurl}}atom.xml" title="News">
			<img src="{{site.baseurl}}socialIcons/news.png" alt="News" />
		</a>
	</div>
	<span>version {{ site.version }}</span>
</footer>
