<nav class="paginator">
  <ul class="pagination">
    {% if paginator.previous_page %}
      <li class="page-item">
    {% else %}
      <li class="page-item disabled">
    {% endif %}
      <a class="page-link" href="{{ paginator.previous_page_path }}">&laquo; Newer</a>
    </li>


    <li class="page-item disabled">
      <span class="page-link page-number text-dark">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
    </li>


    {% if paginator.next_page %}
      <li class="page-item">
    {% else %}
      <li class="page-item disabled">
    {% endif %}
      <a class="page-link" href="{{ paginator.next_page_path }}">Older &raquo;</a>
    </li>
  </ul>
</nav>
