<ul class="dropdown-menu">
  <li>
    <a href="{{ site.data.links.github }}">GitHub - Open source projects</a>
  </li>

  <li>
    <a href="{{ site.data.links.hephaestus }}">Hephaestus - Maven repository</a>
  </li>

  <li role="separator" class="divider"></li>

  <li>
    <a href="{{ site.data.links.slideshare }}">Presentations on SlideShare</a>
  </li>

  <li role="separator" class="divider"></li>

  <li>
    <a href="{{ site.baseurl }}/{{ site.data.areas.farbigesDeutsch }}">Farbiges Deutsch - German linguistics</a>
  </li>

  <li>
    <a href="{{ site.baseurl }}/{{ site.data.areas.arcadia }}">Arcadia - Dreams and poetry</a>
  </li>
</ul>
