<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-9">
      <div class="jumbotron m-3 mt-4 mb-4">
        <div class="container-fluid">
          <div class="row justify-content-center align-items-center">
            <div class="col-8 col-sm-4">
              <img class="rounded-circle img-fluid mb-3" src="{{ site.baseurl }}/images/gian.jpg" alt="Gianluca Costa's portrait" />
            </div>

            <div class="col-12 col-sm-8">
              <blockquote class="font-italic text-center">
                {{ site.motto | escape }}
              </blockquote>

              <hr class="mt-md-4 mb-md-4" />

              <div class="container-fluid">
                <div class="row justify-content-center mb-n3">
                  <div class="col-12 col-lg-auto mb-3 d-flex justify-content-center">
                    <a class="btn btn-primary btn-lg center-block" href="#technology"><i class="fas fa-chevron-circle-down"></i> Discover</a>
                  </div>

                  <div class="col-12 col-lg-auto mb-3 d-flex justify-content-center">
                    <div class="btn-group dropdown">
                      <button type="button" class="btn btn-success btn-lg dropdown-toggle" data-toggle="dropdown">
                        <i class="fas fa-pen-nib"></i> Blog
                      </button>

                      {% include blog-menu.html %}
                    </div>
                  </div>

                  <div class="col-12 col-lg-auto mb-3 d-flex justify-content-center">
                    <div class="btn-group dropdown">
                      <button type="button" class="btn btn-info btn-lg dropdown-toggle" data-toggle="dropdown">
                        <i class="fas fa-satellite-dish"></i> Contacts
                      </button>

                      {% include contacts-menu.html %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>