/*- Custom style -*/


/* Navigation */


#nav-menu-left {
  left: 2em;
  top: 2.5em;
  position: absolute;
}


#nav, #nav-left {
  a {
    &:visited {
    	color: $background-color;
    }

    &:hover {
      color: darken($main-color, 20%);
    }
  }
}


/* Main content */


.fixed {
  position: static;
}

#header {
  h1 {
    margin-bottom: 0.3em;
  }

	h2 {
		font-size: 1.3334em;
		line-height: 1em;
		padding: 0.5em 0;
		font-weight: normal;
		font-style: italic;
    margin-bottom: 0.1em;
	}
}


#container {
	min-height: 330px;
}


ul, ol {
  margin-left: 2em;
}


#post-page {
  ul, ol {
    margin-left: 1em;
  }
}


h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.4em;
}


/* Paginator */

.pagination {
  a:visited {
    color: $background-color;
  }

  a:hover {
    color: darken($main-color, 20%);
  }
}



/* Footer */

footer {
  a {
    font-weight: normal;

		color: $background-color;

		&:hover {
			color: beige;
		}

		margin-right: 0.75em;

		&:last-child {
			margin-right: 0;
		}

  	&:visited {
  		color: $background-color;
	  }
  }

  span {
		font-size: 0.9em;
	}
}
