/*
 * -------
 * Signika
 * -------
*/

@font-face {
    font-family: 'Signika';
    src: url("/css/fonts/signika/Signika-Regular.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Signika';
    src: url("/css/fonts/signika/Signika-Semibold.otf");
    font-weight: bold;
    font-style: normal;
}


/*
 * ---------------
 * Source Sans Pro
 * ---------------
*/


@font-face {
    font-family: 'Source Sans Pro';
    src: url("/css/fonts/source-sans-pro/SourceSansPro-Regular.otf");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Source Sans Pro';
    src: url("/css/fonts/source-sans-pro/SourceSansPro-Bold.otf");
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'Source Sans Pro';
    src: url("/css/fonts/source-sans-pro/SourceSansPro-It.otf");
    font-weight: normal;
    font-style: italic;
}


@font-face {
    font-family: 'Source Sans Pro';
    src: url("/css/fonts/source-sans-pro/SourceSansPro-BoldIt.otf");
    font-weight: bold;
    font-style: italic;
}
