body.home {
  .card-header {
    text-align: center;
  }

  .card-footer {
    text-align: center;
  }


  #cover {
    .jumbotron {
      background: linear-gradient(135deg, rgb(116,184,252) 0%, rgb(191,255,206) 32%, rgb(250,255,204) 55%, rgb(255,218,153) 85%, rgb(255,178,178) 100%);

      box-shadow: 3px 3px 5px 0px rgb(131,133,135);

      border-radius: 4rem;


      img {
        box-shadow: 3px 3px 5px 0px rgb(19,3,36);
      }

      blockquote {
        font-family: 'Charm', cursive;
        font-size: 2.9rem;
        text-shadow: 2px 2px 8px rgb(21, 51, 134);
      }
    }
  }


  #technology {
    h1 {
      color: midnightblue;
    }

    .card {
      border: 1px solid dodgerblue;
    }

    .card-header {
      background: linear-gradient(135deg, rgb(154,236,252) 0%, rgb(232,250,255) 100%);
    }
  }


  #humanism {
    h1 {
      color: darkgreen;
    }


    .card {
      border: 1px solid limegreen;
    }

    .card-header {
      background: linear-gradient(to right, rgb(201,250,137) 0%, rgb(245,255,209) 100%);
    }
  }


  #featured-projects {
    .carousel {
      img {
        margin: auto;
        border: 2px solid gray;
      }

      .carousel-caption {
        color: black;

        position: relative;
        left: auto;
        right: auto;

        h5 {
          font-weight: bold;
        }
      }

      .carousel-indicators {
        > li {
          background-color: black;
        }
      }
    }
  }
}


@media (orientation: portrait) {
  .home .carousel img {
    max-width: 70vw;
  }
}


@media (orientation: landscape) {
  .home .carousel img {
    max-height: 55vh;
  }
}