---
bodyClass: blog
title: "Blog"
description: "Blog entries"
---

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">
      {% for post in paginator.posts %}

      <div class="card mb-4 border-info">
        <div class="card-header bg-info text-light">
          <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%-d %B %Y" }}</time>
        </div>

        <div class="card-body">
          <p class="card-title">
            <a href="{{ site.baseurl }}{{ post.url }}" class="text-primary">{{ post.title | escape }}</a>
          </p>

          <p>
            {{ post.content | strip_html | truncatewords:50 }}
          </p>
        </div>

        <div class="card-footer">
          {% include tag-labels.html tags=post.tags %}
        </div>
      </div>

      {% endfor %}
    </div>
  </div>

  <div class="row justify-content-center">
    {% include paginator.html %}
  </div>
</div>