---
title: Blog tags

bodyClass: tagsPage

redirect_from:
  - "/tags"
  - "/tags.html"
---

{% comment %}
=======================
The following part extracts all the tags from your posts and sort tags, so that you do not need to manually collect your tags to a place.
=======================
{% endcomment %}
{% assign rawtags = "" %}
{% for post in site.posts %}
	{% assign ttags = post.tags | join:'|' | append:'|' %}
	{% assign rawtags = rawtags | append:ttags %}
{% endfor %}
{% assign rawtags = rawtags | split:'|' | sort %}

{% comment %}
=======================
The following part removes duplicated tags and invalid tags like blank tag.
=======================
{% endcomment %}
{% assign tags = "" %}
{% for tag in rawtags %}
	{% if tag != "" %}
		{% if tags == "" %}
			{% assign tags = tag | split:'|' %}
		{% endif %}
		{% unless tags contains tag %}
			{% assign tags = tags | push: tag %}
		{% endunless %}
	{% endif %}
{% endfor %}


{% include tag-labels.html tags=tags showHeading=false %}

<hr />

{% comment %}
=======================
The purpose of this snippet is to list all your posts posted with a certain tag.
=======================
{% endcomment %}
{% for tag in tags %}
	<div class="mb-5">
		<h2 id="{{ tag | slugify }}">{{ tag | escape }}</h2>

		{% for post in site.posts %}
			{% if post.tags contains tag %}
			<div class="card mb-4">
				<div class="card-header">
						<span class="annotation">{{ post.date | date_to_string }}</span> <a class="font-weight-bold" href="{{ post.url }}">{{ post.title | escape }}</a>
				</div>

				<div class="card-body">
						{% include tag-labels.html tags=post.tags %}
				</div>
			</div>

			{% endif %}
		{% endfor %}
	</div>
{% endfor %}
