body.courses {
  .course-report {
    display: flex;
    flex-direction: column;

    .path-bar {
      border-bottom: 1px solid black;

      padding: 1em 0.5em;

      .root-label {
        font-weight: bold;
        margin-right: 0.5em;
      }

      .root-select {
        padding: 0.25em;
      }

      .path-component {
        margin-left: 1em;
      }

      .internal {
        padding: 0.15em;
      }

      .leaf {
        font-style: italic;
      }
    }

    .table-container {
      overflow-x: auto;

      .course-table {
        margin: 2.5em 0;
        padding: 1em;

        td {
          border: 1px solid black;
          padding: 0.7em;
        }

        thead {
          font-weight: bold;
          text-align: center;
          background: lighten(cornflowerblue, 10%);
        }

        tbody {
          background: aliceblue;

          .duration,
          .completion-date,
          .portal,
          .certificate {
            text-align: center;
          }
        }
      }
    }

    .context-summary {
      border-top: 1px solid black;
      padding: 0.5em;

      div {
        margin-top: 0.7em;

        label {
          font-weight: bold;
        }
      }
    }
  }
}
