a {
  text-decoration: none !important;
}

a,
button {
  &.btn-primary {
    box-shadow: 1px 1px 5px 0px rgba(0, 41, 82, 1);
  }

  &.btn-success {
    box-shadow: 1px 1px 5px 0px rgba(3, 31, 5, 1);
  }

  &.btn-info {
    box-shadow: 1px 1px 5px 0px rgba(14, 56, 56, 1);
  }
}

h1 {
  font-family: "Signika", sans-serif;
  font-weight: bold !important;
  text-align: center;
}

.min-height-100 {
  min-height: 100%;
}

.flex-1 {
  flex: 1;
}

pre[class^="language-"] {
  display: inline-block;
}

nav {
  .dropdown-toggle {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: inline;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

svg[data-prefix="fas"],
svg[data-prefix="far"],
svg[data-prefix="fab"] {
  min-width: 2rem;
}

.badge-pill,
.btn-sm {
  svg[data-prefix="fas"],
  svg[data-prefix="far"],
  svg[data-prefix="fab"] {
    &:not(.spaced) {
      min-width: initial;
    }
  }
}

.dropdown-item {
  padding-left: 0.5rem !important;
}

.annotation {
  font-size: 0.95rem;
  color: darkgrey;
}
