@use "../../styles/mobile.scss";

.scienceBox {
  background: linear-gradient(
    135deg,
    rgb(210, 247, 255) 0%,
    rgb(255, 255, 255) 100%
  );
  border: 2px solid navy;
  border-radius: 2em 0 0 2em;

  h2 {
    color: navy;
  }

  a {
    &:link,
    &:visited {
      color: #2a7ae2;
    }
  }

  li {
    box-shadow: 2px 2px 3px #454590;

    &:hover {
      box-shadow: 3px 3px 4px midnightblue;
    }
  }
}

@include mobile.query {
  .scienceBox {
    background: linear-gradient(
      180deg,
      rgb(210, 247, 255) 0%,
      rgb(255, 255, 255) 100%
    );
    border-radius: 1em 1em 0 0;
  }
}
