<div>
    <h1>Humanism</h1>

    <div class="container-fluid mt-4">
      <div class="row">
        <div class="col-12 col-sm-6 col-lg-4">
          {% include index/humanism/cards/human-languages.html %}
        </div>

        <div class="col-12 col-sm-6 col-lg-4">
          {% include index/humanism/cards/music.html %}
        </div>

        <div class="col-12 col-sm-6 col-lg-4">
          {% include index/humanism/cards/philosophy.html %}
        </div>

        <div class="col-12 col-sm-6 col-lg-4">
          {% include index/humanism/cards/literature.html %}
        </div>

        <div class="col-12 col-sm-6 col-lg-4">
          {% include index/humanism/cards/soft-skills.html %}
        </div>

        <div class="col-12 col-sm-6 col-lg-4">
          {% include index/humanism/cards/originality.html %}
        </div>
      </div>
    </div>
  </div>