<div class="card mb-4">
  <div class="card-header">
    <i class="fas fa-laptop-code"></i> IT passionate since 1998
  </div>

  <div class="card-body">
    <p class="card-text">I started my journey in Information Technology <strong>at the age of 12</strong></p>
  </div>

  <div class="card-footer">
    <button class="btn btn-primary btn-sm collapsed" type="button" data-toggle="collapse" data-target="#it-details">
      <i class="fas fa-user-cog"></i> Hi-tech passion
    </button>
  </div>

  <div id="it-details" class="collapse">
    <div class="card-body">
      <div class="mb-4">
        {% include badge-list.html items=site.data.itOverview %}
      </div>

      <section>
        <h5>Technological skills</h5>

        {% include badge-list.html items=site.data.itSkills %}
      </section>

      <div class="d-flex justify-content-center mt-4">
        <a href="{{ site.baseurl }}{{ site.data.links.cvPath }}" class="btn-primary btn-sm">
          <i class="fas fa-file-download"></i>

          Download CV
        </a>
      </div>
    </div>
  </div>
</div>