article {
  padding: 1em;

  &.centered {
    text-align: center;
  }

  h1 {
    margin-bottom: 1em;
  }

  main {
    width: 75%;
    margin-left: auto;
    margin-right: auto;

    p {
      margin-bottom: 1em;
    }
  }
}
