@use "mobile.scss";

.omniCourse {
  a {
    &:link,
    &:visited {
      color: #1e5399;
    }
  }

  min-height: 450px;

  .chartBox {
    min-height: 420px;
  }
}

@include mobile.query {
  .omniCourse {
    .chartBox {
      min-height: 350px;
    }
  }
}
