@use "mobile.scss";

.omniCourse {
  min-height: 450px;

  .chartBox {
    min-height: 420px;
  }

  .worksTable {
    a {
      &:link,
      &:visited {
        color: #1e5399;
      }
    }
  }
}

@include mobile.query {
  .omniCourse {
    .chartBox {
      min-height: 350px;
    }
  }
}
